<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Home | Welcome to infolot...</title>
</head>
<body>
    
    <!-- header starts -->
    <section class="_header">
        <div class="weblink_box _headerbox">
            <a href="/">
                <h3>
                    <b style="color: #ff0000;">i</b>nfo<b style="color: #ff0000;">l</b>ot
                </h3>
            </a>

            <!-- hamberg -->
            <div class="ham_display_box">
                <div class="hambox" onclick="hamberg()">
                    <span id="bar1" class="bars"></span>
                    <span id="bar2" class="bars"></span>
                    <span id="bar3" class="bars"></span>
                </div>
            </div>
            <!-- hamberg ends -->
        </div>

        <!-- log in box -->
        <div class="search_acc_box _headerbox">
            <div class="login_btn_box">
                <a href="/signup">Signup</a>
                <a href="/login">Login</a>
            </div>
        </div>
        <!-- login box ends -->

        <!-- navbar start -->
        <div class="navbar">
            <a href="">maven</a>
        </div>
        <!-- navbar ends -->
    </section>
    <!-- header ends -->

    <!-- main section box -->
    <section class="content_box">

        <!-- sidebar starts -->
        <div class="sidebar">
            <a href="">Maven for Windows</a>
            <a href="">Maven for Windows</a>
            <a href="">Maven for Windows</a>
            <a href="">Maven for Windows</a>
            <a href="">Maven for Windows</a>
        </div>
        <!-- sidebar ends -->

        <!-- content box -->
        <div class="main_content_box">
            <h3>Maven for Windows :</h3>
        </div>
        <!-- content box ends -->

    </section>
    <!-- main section ends -->


    <!-- footer starts -->
    <section class="_footer">
        Footer
    </section>
    <!-- footer ends -->



    <!-- scripts start -->

    <script>
        var i = 1;

        // hamberg
        function hamberg() {
            const bar1 = document.getElementById('bar1').style;
            const bar2 = document.getElementById('bar2').style;
            const bar3 = document.getElementById('bar3').style;

            if(i == 1) {
                bar1.cssText = "position: absolute; transform: rotate(45deg); background-color: #ff0000; width: 80%;";
                bar2.cssText = "display: none";
                bar3.cssText = "position: absolute; transform: rotate(-45deg); background-color: #ff0000; width: 80%;";
                return i = 0;
            }else {
                bar1.cssText = "position: relative; transform: rotate(0deg); width: 100%;";
                bar2.cssText = "display: block; width: 100%;";
                bar3.cssText = "position: relative; transform: rotate(0deg); width: 100%;";
                return i = 1;
            }
        }
        // hambergends

    </script>

    <!-- scripts ends -->
</body>
</html>