<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    
    <!-- header starts -->
    <section class="_header">
        <div class="weblink_box _headerbox">
            <a href="#">
                <b style="color: #ff0000;">i</b>nfo<b style="color: #ff0000;">l</b>ot
            </a>

            <!-- hamberg -->
            <div class="ham_display_box">
                <div class="hambox" onclick="hamberg()">
                    <span id="bar1" class="bars"></span>
                    <span id="bar2" class="bars"></span>
                    <span id="bar3" class="bars"></span>
                </div>
            </div>
        </div>

        <div class="search_acc_box _headerbox">

        </div>
    </section>
    <!-- header ends -->



    <!-- scripts start -->

    <script>
        var i = 1;

        // hamberg
        function hamberg() {
            const bar1 = document.getElementById('bar1').style;
            const bar2 = document.getElementById('bar2').style;
            const bar3 = document.getElementById('bar3').style;

            if(i == 1) {
                bar1.cssText = "position: absolute; transform: rotate(45deg); background-color: #ff0000; width: 80%;";
                bar2.cssText = "display: none";
                bar3.cssText = "position: absolute; transform: rotate(-45deg); background-color: #ff0000; width: 80%;";
                return i = 0;
            }else {
                bar1.cssText = "position: relative; transform: rotate(0deg); width: 100%;";
                bar2.cssText = "display: block; width: 100%;";
                bar3.cssText = "position: relative; transform: rotate(0deg); width: 100%;";
                return i = 1;
            }
        }
        // hambergends

    </script>

    <!-- scripts ends -->
</body>
</html>